<div class="card">
    <div class="card-img-wrapper">
      <img *ngIf="property.Image" class="propImg" src="assets/image/{{property.Image}}.jpg" alt="House Image">
      <img *ngIf="!property.Image" class="propImg" src="assets/image/default_house.png" alt="House Image">
      <ul class="list-inline text-center membar-icon animate">
        <li class="list-inline-item">
          <button class="btn btn-primary"><i class="fa-sharp fa-solid fa-pen-to-square" routerLink="/property-detail/{{property.Id}}"></i></button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary"><i class="fa-duotone fa-solid fa-address-book"></i></button>
        </li>
      </ul>
    </div>
    <div class="card-body p-2">
      <h3>{{ property.Name }}</h3>
      <h4>{{ property.Type }}</h4>
      <h5>{{ property.Price }}</h5>
    </div>
  </div>
  